streamlit==1.34.0
tavily-python==0.3.3
langfuse==2.32.0
streamlit-feedback==0.1.3
langchain-community==0.2.1
langchain-core==0.2.3
langchain-google-genai==1.0.5
langchain-openai==0.1.8
transformers
langchain-text-splitters
qdrant-client[fastembed]
fastembed
pypdf2